{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
Ad accounts
{% endblock title %}




{% block content %}
<div class="row p-3">
    <div class="col-12  d-flex">
        <div class="card flex-fill overflow-auto">
            <div class="card-header">

                <h5 class="card-title mb-0">Latest Ad account Leads</h5>
            </div>
            <table class="table table-hover my-0" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="d-none d-xl-table-cell">Date</th>
                        <th class="d-none d-xl-table-cell">Phone</th>
                        <th class="d-none d-xl-table-cell">email</th>
                        <th>Ad type</th>
                        <th>Monthly spend</th>
                        <th>user type</th>
                        <th>status</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    <tr>
                        <td>salah eddine</td>
                        <td class="d-none d-xl-table-cell">21/08/2023</td>
                        <td class="d-none d-xl-table-cell">0651420077</td>
                        <td class="d-none d-xl-table-cell">SALAh@gmaiid.com</td>
                        <th>Facebook</th>
                        <th>6000 $</th>
                        <th>Client</th>
                        <td><span class="badge bg-success">success</span></td>
                        <th><a hre="#" class="btn btn-primary rounded px-2">Edit</a></th>
                        <th><a hre="#" class="btn btn-danger rounded px-2">Delete</a></th>
                        
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}